.cell {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    margin: 2px;

    display: flex;
  align-items: center;
  justify-content: center;

border-radius: 50%;
  }
  .food {
    background-color: var(--color-accent);

  }
  
  .snake {
    background-color: var(--color-snake);
 
  }
  .head {
    position: relative;
  }
  
  .icon {
    font-size: 2rem; 
  }