.container {
  display: flex;
  flex-direction: column;
  width: 460px;
}
.game_container {
  border: 3px solid var(--color-gray);
  border-radius: 5px;
  box-shadow: var(--shadow-regular);
  margin-bottom: 20px;
}
.title{
  margin-bottom: 15px;
  font-size: var(--font-large);
  color: var(--color-primary);
}